nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #001219;
    align-items: center;
}
nav h1{
    color: #fff;
    margin-left: 40px;
}
nav a {
    text-decoration: none;
}
nav span {
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    text-transform: uppercase;
    color: white;
}

.navSpanGold {
    color: gold;
}

nav span:hover{
    color: #fff;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}
span a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

#navBarColor{
    color: white;
    background-color: #38bdab;
    transition: .6s;
}
.nav-options{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#heading{
    color: #ff206e;
}
#navBarColor span:hover{
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}



.logInLogOut {
    margin-right: 40px;
}


.input-group{
    display: flex;
    align-items: center;
}
.input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 16px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder{
    color: black;
}
.input-group input:focus{
    outline: none;
}
#search{
    position: absolute;
    margin-left: 310px;
}
