.paginatorBackground {
    justify-content: center;
    background-color:#002233;
    color:  white;
    margin-top: 2%;
    width: 90%;
    /*padding-right: 240px;*/
    margin-left: 80px;
}

.paginator li, ul {
    background-color: #1f7287;
    border-radius: 5px;
    margin: 1px;
    padding: 1px;
}
.paginator button {
    color:  white;
}